/* GRID CONTAINERS */
body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    background-color: #4CAF50;
    padding: 1em;
    text-align: center;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
       "media"
       "stats";
    grid-template-rows: auto auto;
}

footer {
    grid-area: footer;
    background-color: #4CAF50;
    padding: 1em;
}

.media-container {
    grid-area: media;
    display: grid;
    grid-template-areas: 
       "weetjes plaatjes scoreboard";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    justify-items: center;
}

.stats-container {
    grid-area: stats;
    display: grid;
    grid-template-areas: 
       "fontawesome"
       "input";
    grid-template-rows: 1fr 1fr;
}

.weetjes-container {
    grid-area: weetjes;
}

.plaatjes-container {
    grid-area: plaatjes;
    object-fit: cover;
}

.scoreboard-container {
    grid-area: scoreboard;
}

.fontawesome-container {
    grid-area: fontawesome;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 3em;
}

.input-container {
    grid-area: input;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    align-items: start;
}

.weetjes-container,
.plaatjes-container,
.scoreboard-container {
    width: 250px;
    height: 250px;
    border: 2px solid #388E3C;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weetjes-content-titel,
.scoreboard-content-titel {
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
}

.weetjes-content {
    font-size: 16px;
    text-align: center;
    padding-top: 3em;
}

.scoreboard-content {
    font-size: 16px;
    text-align: center;
    padding-top: 1em;
}

hr {
    border: 1px solid #388E3C;
    width: 80%;
    margin: auto;
}

.input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    outline: none;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.input:focus {
    border-color: #388E3C;
    box-shadow: 0px 0px 8px rgba(76, 175, 80, 0.5);
}

.list-container {
    list-style-type: none;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    gap: 1em;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.fontawesome-container i {
    transition: transform 0.2s ease-in-out;
}

.fontawesome-container i:hover {
    transform: scale(1.2);
}

.fab {
    color: white;
}

.fab:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.fab:active {
    color: #d6d4d4;
}

.correct-animation {
    animation: correctAnim 0.5s ease-in-out;
}

@keyframes correctAnim {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.wrong-animation {
    animation: wrongAnim 0.5s ease-in-out;
}

@keyframes wrongAnim {
    0% { transform: scale(1); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

@media (max-width: 768px) { 
    .media-container {
        grid-template-areas:
            "weetjes"
            "plaatjes"
            "scoreboard";
        grid-template-columns: auto;
        padding: 1em;
        gap: 1em;
    }

    .stats-container {
        grid-template-areas:
            "fontawesome"
            "input";
        grid-template-rows: auto;
        padding: 2em;
    }

    .weetjes-content {
        font-size: 16px;
        text-align: center;
        padding-top: 2em;
    }
}
